[Unit]
Description=Camelbox PostgreSQL backup
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/camelbox-backup-postgres
User=root
Group=root

[Install]
WantedBy=multi-user.target
